:root{
    --main_bg:#CECECE;
    --content_bg: rgba(255, 255, 255);
    --black: #000;
    --hover: #ff2828;
    --success: #4BB543;
    --form_bg: rgba(255, 255, 255, 0.5);
    --right: #5a5a5a;
    --left: #ffffff;
    --new: #77070A;
    --middle: #f10000a9;
    --middleOne: #ff5f5f;
    --lightBlack: #242424;
    --sideNav: #343A40;
}
html, body {
    height: 100vh !important;
    margin: 0;
    padding: 0;
}
.main {
    height: 100vh !important;
}
.headerImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.header{
    height: 7rem !important;
}
.buttonNoBG{
    border: none !important;
    background: none !important;
}
.text-white{
    color: #fff !important;
}
.sideNav{
    border-top-right-radius: 10px;
    width: 15rem !important;
}
.sideNav img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.content{
    height: 90vh !important;
}
a{
    text-decoration: none !important;
}
.bg-linear{
    background: linear-gradient(40deg , var(--new), var(--middle), var(--new)) !important;
}
.bg-linearOne{
    background: linear-gradient(40deg , var(--new), var(--middleOne), var(--new)) !important;
}
.profileMenu{
    position: absolute !important;
    transform: translateY(3.5rem);
    z-index: 2s;
}
.profileMenu a{
    color: #fff !important;
}
.profileMenu li{
    list-style-type: none;
    color: #4BB543;
}
.otherButtons{
    margin-right: 2rem;
}
/* ========== ANIMATION =============== */
@keyframes fadeInRight{
    from{transform: translateY(-1rem); opacity: 0;};
    to{transform: translateY(0); opacity: 1;};
}
.fadeInAnimation{
    animation: fadeInRight 1s ease-in-out;
}
.fadeInAnimationNav{
    animation: fadeInRight .5s ease-in-out;
}
@media (max-width: 576px) {
    .sideNav {
        position: absolute;
        transform: translateX(-50rem);
        z-index: 55;
        background: linear-gradient(40deg , var(--new), var(--middleOne), var(--new)) !important;
    }
    .burger{
        display: flex !important;
    }
    .logo{
        margin-left: -15px;
        margin-right: .1rem;
    }
    .logo h3{
        font-size: 12px;
        width: 9rem !important;
    }
    .otherButtons{
        margin-right: 1rem !important;
    }
    .buttonUPdate button{
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
    .otherButtons img{
        width: 30px;
        height: 30px;
        margin: 0 !important;
    }
}